{% extends 'VladChangeMainBundle:Default:page.html.twig' %}

{% block div_main %}
   <div class="fos_user_user_show">
       <p>{{ 'Имя'|trans }}: {{ user.name }}</p>
       <p>{{ 'Фамилия'|trans }}: {{ user.surname }}</p>
       <p>{{ 'E-mail'|trans }}: {{ user.email }}</p>
       <a href="{{ path('fos_user_security_logout') }}">Выход</a>
   </div>
{% endblock %}
