<header>
    <div class="logo_wrap">
        <a href="{{ path('vlad_change_main_homepage') }}" id="logo"></a>
    </div>
    <nav>
        <ul>
           <li><a href="#">Ссылка 1</a></li>
           <li><a href="#">Ссылка 2</a></li>
           <li><a href="#">Ссылка 3</a></li>
        </ul>
    </nav>
    <ul class="right">
     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li>
            <a href="{{ path('fos_user_profile_show') }}">{{ app.user.name }} {{ app.user.surname }}</a>
        </li>
     {% else %}
        <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
        <li><a href="{{ path('fos_user_security_login') }}">Войти</a></li>
     {% endif %}
    </ul>
</header>