<header>
    <div class="logo_wrap">
        <a href="{{ path('vlad_change_main_homepage') }}" id="logo"></a>
    </div>
    <nav>
        <ul>
           <li><a href="#">Ссылка 1</a></li>
           <li><a href="#">Ссылка 2</a></li>
           <li><a href="#">Ссылка 3</a></li>
        </ul>
    </nav>
    <ul class="right">
     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |</li>
     {% else %}
        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.registration'|trans({}, 'FOSUserBundle') }}</a></li>
        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
     {% endif %}
    </ul>
</header>