{% extends 'VladChangeMainBundle:Default:page.html.twig' %}

{% block div_main %}
    {% if notliked %}
        {% if archived %}
           <p>Ваш проект был помещен в архив, спасибо за внимание.</p>
        {% elseif expired %}
           <p>Срок вашего проекта истек, очень жаль.</p>
           <p>Можете продлить срок за денежку.</p>
        {% else %}
           {{ parent() }}
           {{ form(form) }}
        {% endif %}
    {% else %}
        <p>За ваш проект уже проголосовали. Вы не можете его изменить.</p>
        {# {{ parent() }} #}
        {# {{ form_start(form) }} #}
        {# {% for field in form %} #}
            {# {% if (field.vars.name == "limit_voice") or (field.vars.name == "save") %} #}
                {# {{ form_row(field) }} #}
            {# {% else %} #}
                {# {{ form_label(field, {'attr':{'style':'display:none' }}) }} #}
                {# {{ form_row(field, {'attr':{'style':'display:none'}}) }} #}
                {# } #}
            {# {% endif %} #}
        {# {% endfor %} #}
        {# {{ form_end(form) }} #}
    {% endif %}
{% endblock %}