{% extends 'VladChangeMainBundle:Default:page.html.twig' %}

{% block links %}
   {{ parent() }}
   <link rel="stylesheet" href="{{ asset('bundles/vladchangemain/css/project_forms.css') }}" />
   <link rel="stylesheet" href="{{ asset('bundles/vladchangemain/css/forms.css') }}" />
   <script src="{{ asset('bundles/vladchangemain/js/forms.js') }}"></script>
   <link rel="stylesheet" href="{{ asset('bundles/vladchangemain/css/message.css') }}" />
   <script src="{{ asset('bundles/vladchangemain/js/message.js') }}"></script>
{% endblock %}

{% block div_main %}
    <div id="main_wrap">
        {% if archived %}
            <div class="message">
                <p>Ваш проект был помещен в архив, спасибо за внимание.</p>
            </div>
        {% elseif expired %}
            <div class="message">
                <p>Срок вашего проекта истек, очень жаль.</p>
                <p>Можете продлить срок за денежку.</p>
            </div>
        {% else %}
            <h1 class="from_top">Изменение проекта</h1><div class="block_form">
                <form action="{{ path('vlad_change_edit_project', {'id': project_id}) }}" {{ form_enctype(form) }} method="POST" class="vlad_change_edit_project">
                   {{ form_widget(form) }}
                   <div class="buttons">
                      <input type="submit" value="Сохранить" />
                   </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}